{
    "env": {
        "node": true,
        "browser": true,
    },
    "plugins": ["import", "react"],
    "extends": ["airbnb-base", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "rules": {
        "import/extensions": 0,
        "no-console": "off",
        "linebreak-style": "off",
        "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
        "prefer-destructuring": ["error", {
            "AssignmentExpression": {
            "array": false,
            "object": false
            }
        }],
        "import/no-dynamic-require": "off",
        "no-shadow": "off",
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "public_src/webpack.config.js"
            }
        }
    },
}